@charset "UTF-8";
@font-face {
  font-family: 'kirby-classic';
  src: url("/Tipografia/kirby-classic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

 
html {
  height: 100vh;
  width: 100%;
}

body {
  font-family: 'kirby-classic';
  height: 100vh;
  width: 100%;
}

.home {
  height: 100vh;
  width: 100%;
  background-image: url(/Imagenes/Fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__cuaderno {
  height: 90vh;
  width: 150vh;
  background-image: url(/Imagenes/pagina-inicial/inicio.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__izquierda {
  height: 100%;
  width: 50%;
}

.home__derecha {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__link {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.home__crear {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25%;
  width: 25%;
  margin: 13% 0 0 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__galeria {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25%;
  width: 25%;
  margin: 2% 0 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__favoritos {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25%;
  width: 25%;
  margin: 2% 0 0 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crear__imag {
  height: 65%;
  width: 100%;
  background-image: url(/Imagenes/pagina-inicial/CreateBoton.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.crear__text {
  height: 35%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6vh;
  color: #3B4D57;
}

.galeria__imag {
  height: 65%;
  width: 100%;
  background-image: url(/Imagenes/pagina-inicial/GalleryBoton.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.galeria__text {
  height: 35%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6vh;
  color: #3B4D57;
}

.favoritos__imag {
  height: 65%;
  width: 100%;
  background-image: url(/Imagenes/pagina-inicial/FavoriteBoton.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.favoritos__text {
  height: 35%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6vh;
  color: #3B4D57;
}
/*# sourceMappingURL=Home.css.map */